 /* Limpiadores */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Modificando estilos html */
label {
    font-size: .8rem;
}

h5 {
    margin-bottom: 0rem;
}

/* Tabla de resultados */
.resultados table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
.resultados td, th {
    border: 1px solid #dddddd;
    font-size: 10px;
    text-align: left;
    padding: 2px;
}
  
.resultados tr:nth-child(even) {
    background-color: #dddddd;
}

/* Modificando estilos de Bootsrap */
.form-check-input {
    width: 0.8em;
    height: 0.8em;
    margin-top: 0.5em;
}